@font-face {
	font-family: 'Hussar';
	src: url('./fonts/HussarBold.otf'); /* IE9 Compat Modes */
}
.left{
	overflow: hidden;
	width: 60vw;
}
.container-after-titlebar{
	overflow: hidden !important;
}
#editor{
	height: 94vh;
	/* position: fixed; */
	width: 56vw;
	/* z-index: -10; */
	/* left:4vw;
	top:10vh; */
	background: #1f2537;
	color: white;
	border:0;
	margin-left: 4vw;
	overflow: hidden;
	max-height: 90%;
}

.ql-toolbar{
	background-color: #2a2f49;
	box-shadow: 0 10px 20px -6px rgba(0,0,0,0.25);
	border:0 !important;
	color:white;
	width:100%;
	/* position: fixed;
	top:4vh;
	left:4vw; */
	height: 6vh;

}
.side-bar{
	width: 4vw;
	height: 100%;
	background-color: #2a2f49;
	/* border:0; */
	/* bottom:0vh; */
	overflow: hidden;
	position: fixed;
	left:0;
}
.ql-snow .ql-stroke{
	stroke: rgba(255,255,255,0.8) !important;
}
.ql-picker-label{
	color:rgba(255,255,255,0.8);
}
.ql-editor::placeholder{
	color: white;
}
#resources{
	width:40vw;
	max-height: 100%;
	position: absolute;
	right:-20px;
	top:6vh;
	overflow: scroll;
}
.resources-title{
	font-size:32px;
	color:rgba(72,72,72,0.9);
	/* letter-spacing: 0.03em; */
	font-family: Hussar;
	position: fixed;
	top:5.2vh;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.complete{
    display:none;
}

.card {
	width: 100%;
	height: 20%;
	background-color: #1f2537 !important;
	color:rgba(255,255,255,0.9);
	border-radius: 3px;
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.25);
}

.more{
    background:lightblue;
    color:navy;
    font-size:13px;
    padding:3px;
    cursor:pointer;
}

@import url(https://fonts.googleapis.com/css?family=Comfortaa:400,700,300);

.preloader{
	height: 100px;
	margin-top:20px;

}
.psvg{
  width: 75px;
  height: 75px;
  margin: auto auto;
  display:inline-block;

}

.ql-formats:first-of-type{
	margin-left:50px;
}

.specefic-search{
	margin-top:8vh;
	background: none;
	border: none;
	margin-left:10px
}

.specefic-search img{
	height: 20px;
}
.stop-search{
	background: none;
	border: none;
	margin-left:10px;
	margin-top:20px;
}

.stop-search img{
	height: 20px;
	opacity: .5;
}
iframe{
	height:100%;
	width: 100%;
	margin-top:30px;
}
#remove{
	margin-right:-5px;
	margin-left:5px; 
}
.iframe-launcher{
	background-color:#505b8a !important;
	border-radius: 5px; 
}
.remove-iframe{
	background-color:#a4333e !important; 
	color: white;
	border:none;
}
.save-button{

	background: none !important;
	border:none !important;
	padding-top: 10px;
	height: 18px;
	width: 18px;
}
.save-button img{

	margin-bottom:-60px;
}